<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="list-group my-3" th:fragment="entities (list, entityName)">
    <th:block th:each="entity : ${list}">
        <div class="row">
            <div class="col-8">
                <form th:action="@{'/' + ${entityName} + 's/' + ${entity.getName()}}" method="get">
                    <input th:name="${entityName} + 'Name'" th:value="${entity.getName()}" type="hidden"/>
                    <button type="submit" class="list-group-item list-group-item-action"
                            th:text="${entity.getName()}"></button>
                </form>
            </div>
            <div class="col-4">
                <div class="btn-group">
                    <a role="button" th:href="@{'/' + ${entityName} + 's/update/' + ${entity.getName()}}"
                       class="btn btn-outline-primary">Update</a>
                    <form method="post" th:action="@{'/' + ${entityName} + 's/delete'}" action="/students/delete">
                        <input th:name="${entityName} + 'Name'" th:value="${entity.getName()}"
                               type="hidden"/>
                        <button class="btn btn-outline-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </th:block>
</div>
</body>
</html>