<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="navbar(add)" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="https://i.pinimg.com/originals/41/00/09/4100098c8af8b04589771aa58935f4c8.png" width="30" height="30"
             class="d-inline-block align-top" alt="">
        ItAcademy
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/students">Students <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/mentors">Mentors</a>
        </div>
    </div>
    <div th:if="${add}">
        <button class="btn btn-outline-primary" type="button" data-toggle="collapse"
                data-target=".multi-collapse" aria-expanded="false"
                aria-controls="multiCollapseExample2">Add the score</button>
    </div>
</nav>
</html>