<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/components/header :: header(value='Students')}"></div>
<div th:replace="~{/components/navbar :: navbar(add=false)}"></div>
<body>
<div class="container">
    <button class="btn btn-outline-primary my-2" type="button" data-toggle="collapse" data-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample">
        Add new student
    </button>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <form action="/students" method="post">
                <div class="form-group">
                    <input class="form-control" type="text" name="studentName" id="studentName"
                           placeholder="Student's name"/>
                </div>
                <button type="submit" class="btn btn-outline-primary">Submit</button>
            </form>
        </div>
    </div>
    <div class="list-group my-3">
        <th:block th:each="student : ${students}">
            <div class="row">
                <div class="col-8">
                    <form th:action="@{'/students/' + ${student.getName()}}" method="get">
                        <input th:name="studentName" th:value="${student.getName()}" type="hidden"/>
                        <button type="submit" class="list-group-item list-group-item-action"
                                th:text="${student.getName()}"></button>
                    </form>
                </div>
                <div class="col-4">
                    <div class="btn-group">
                        <a role="button" th:href="@{/students/update(studentName=${student.getName()})}"
                           class="btn btn-outline-primary">Update</a>
                        <form method="post" action="/students/delete">
                            <input th:name="studentName" th:value="${student.getName()}" type="hidden"/>
                            <button class="btn btn-outline-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
</div>
</body>
<div th:replace="~{/components/jslib :: js-lb}"></div>
</html>