<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/components/header :: header(value='Students')}"></div>
<div th:replace="~{/components/navbar :: navbar(add=false)}"></div>
<body>
<div class="container">
    <div th:replace="~{/components/add-new-entity :: form (entity='student')}"></div>
    <div th:replace="~{/components/list-entity :: entities (list=${students}, entityName='student')}"></div>
</div>
</body>
<div th:replace="~{/components/jslib :: js-lb}"></div>
</html>