<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/components/header :: header(value='Student Info')}"></div>
<div th:replace="~{/components/navbar :: navbar(add=true)}"></div>
<body>
<div class="container">
    <div class="row">
        <h1 class="display-4 ml-2" th:text="${studentName}"></h1>
        <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample2">
                <div class="card card-body my-2">
                    <form th:action="@{'/students/' + ${studentName}}" method="post">
                        <div class="form-group">
                            <input class="form-control" type="text" name="sprintName"
                                   placeholder="Sprint name"/>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="score"
                                   placeholder="Score"/>
                        </div>
                        <button type="submit" class="btn btn-outline-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Sprint Name</th>
                    <th scope="col">Score</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="score, iter : ${scores}">
                    <td th:text="${iter.index + 1}"></td>
                    <td th:text="${score.getSprintName()}"></td>
                    <td th:text="${score.getScore()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <div class="row">
                <h3 class="mx-auto">Mentors: </h3>
                <button class="btn btn-outline-secondary mb-2" type="button" data-toggle="collapse" data-target="#collapseExample"
                        aria-expanded="false" aria-controls="collapseExample">
                    Add mentor
                </button>
            </div>
            <ul class="list-group list-group-flush">
                <div th:if="${error}" th:text="${error}" class="alert alert-danger" role="alert">
                </div>
                <th:block th:each="mentor : ${mentors}">
                    <li class="list-group-item" th:text="${mentor}"></li>
                </th:block>
                    <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <form th:action="@{'/students/' + ${studentName} + '/addMentor'}" method="post">
                            <div class="form-group">
                                <input class="form-control" type="text" name="mentorName"
                                       placeholder="Mentor's name"/>
                            </div>
                            <button type="submit" class="btn btn-outline-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </ul>
        </div>
    </div>

</div>
</body>
<div th:replace="~{/components/jslib :: js-lb}"></div>
</html>