<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/components/header :: header(value='Students')}"></div>
<div th:replace="~{/components/navbar :: navbar}"></div>
<body>
<div class="container">
    <button class="btn btn-outline-primary my-2" type="button" data-toggle="collapse" data-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample">
        Add new student
    </button>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <form action="/students" method="post">
                <div class="form-group">
                    <input class="form-control" type="text" name="studentName" id="studentName"
                           placeholder="Student's name"/>
                </div>
                <button type="submit" class="btn btn-outline-primary">Submit</button>
            </form>
        </div>
    </div>

    <div class="list-group my-3">
        <th:block th:each="student : ${students}">
            <form  action="/student-info" method="post">
                <input th:name="studentName" th:value="${student.getName()}" type="hidden"/>
                <button type="submit" class="list-group-item list-group-item-action"
                        th:text="${student.getName()}"></button>
            </form>
        </th:block>
    </div>
</div>
</body>
<div th:replace="~{/components/jslib :: js-lb}"></div>
</html>