<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/components/header :: header(value='Update')}"></div>
<div th:replace="~{/components/navbar :: navbar(add=false)}"></div>
<body>
<div class="container">
    <div class="col-7"> <!--class="form-signin"-->
        <form method="post" th:action="@{'/' + ${entity} + '/postUpdate'}">
            <div class="form-group">
                <input type="hidden" class="form-control" name="oldName" th:value="${name}">
                <input type="text" class="form-control" name="newName" th:placeholder="${name}">
            </div>
            <button class="btn btn-outline-primary">Submit</button>
        </form>
    </div>
</div>
</body>
<div th:replace="~{/components/jslib :: js-lb}"></div>
</html>